doctype html
html(lang='en')
head
  meta(charset='UTF-8')
  meta(
    name='viewport'
    content='width=device-width initial-scale=1.0 shrink-to-fit=no'
  )
  title A simple react boilerplate
body
  .page-container
    .viewport#root loading ...
  script(src='./hot-update/js/main.js')
